.container {
    background-color: var(--bg);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    width: 326px;
    height: 208px;
    position: relative;
}

.card-text {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.element-text {
    font-size: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #DAD7FE;
    border-radius: 6px;
    display: inline-block;
}

.title {
    font-size: 20px;
}

.description {
    font-size: 15px;
}

.detail {
    font-size: 15px;
}

.imageContainer {
    width: 100%;
    border-radius: 10px;
}

.image {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

    .card-text {
        gap: 8px; 
    }

    .element-text {
        font-size: 8px;
        padding: 3px 6px; 
    }

    .title {
        font-size: 18px; 
    }

    .description,
    .detail {
        font-size: 12px; 
    }
}
