.centeredContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  overflow: auto;
  margin: 16px;
  max-width: none;
  padding: 20px;
}

.tagContainer {
  display: flex;
  gap: 12px;
}

.tag {
  border: 1px solid #e0e0e0;
  font-size: 16px;
  border-radius: 16px;
  padding: 12px;
  margin-bottom: 12px;
}

.title {
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 12px;
  border: 1px solid #e0e0e0;
  font-size: 16px;
}

.description,.details {
  height: 140px;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 16px;
  border: 1px solid #e0e0e0;
  font-size: 16px;
}

.button {
  display: flex;
  gap: 12px;
}

.save {
  flex: 1;
  padding: 18px;
  background-color: #4339F2;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.image{
  flex: 1;
  padding: 18px;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  font-size: 16px;
}

.image input {
  display: none; 
}

.image label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 16px;
  font-size: 16px;
}
