.container {
    background-color: var(--);    
}
  
.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.button {
    background-color: #4339F2;
    border: none;
    border-radius: 50%;
    width: 40px; 
    height: 40px; 
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
  